<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>g0vis</title>
    <!-- libraries-->
    <script type="text/javascript" src="assets/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="assets/d3js/3.3.11/d3.v3.min.js"></script>
    <script type="text/javascript" src="assets/angular/1.2.3/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/3.0.2/css/bootstrap.min.css">
    <script type="text/javascript" src="assets/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- custom files-->
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/3.0.2/theme/bootstrap.yeti.min.css">
    <script type="text/javascript" src="assets/angular/1.2.3/angular-route.js"></script>
    <script type="text/javascript" src="assets/moment/2.4.0/moment.min.js"></script>
    <script type="text/javascript" src="assets/colorbrewer/colorbrewer.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </head>
  <body ng-app="g0vis" ng-controller="mainCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="ib">
        <div class="navbar-header"><a href="#" class="navbar-brand">G0VIS</a></div>
        <ul class="nav navbar-nav">
          <li ng-repeat="n in tabs" ng-class="tabClass(n[0][0])"><a ng-attr-href="#!/{{n[0][0]}}" ng-if="n[1].length==0">{{n[0][1]}}</a><a href="#" data-toggle="dropdown" ng-if="n[1]" target="_self" class="dropdown-toggle">{{n[0][1]}}
              <div class="caret"></div></a>
            <ul ng-if="n[1]" class="dropdown-menu">
              <li ng-repeat="x in n[1]"><a ng-attr-href="#!/{{n[0][0]}}/{{$index}}">{{x}}</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="glyphicon glyphicon-check"></i> 沒有人</a></li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="glyphicon glyphicon-cog"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#"><i style="float:right" class="glyphicon glyphicon-cog"></i>沒有人的設定</a></li>
              <li class="divider"></li>
              <li><a href="#"><i style="float:right" class="glyphicon glyphicon-log-out"></i>沒有人要登出</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div ng-view></div>
  </body>
</html>
