!!!5
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
html
  head
    title 
    meta(charset="utf-8")
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    link(rel="stylesheet",type="text/css",href="assets/bootstrap/3.0.2/theme/bootstrap.yeti.min.css")
    script(type="text/javascript",src="assets/moment/2.4.0/moment.min.js")
    script(type="text/javascript",src="assets/colorbrewer/colorbrewer.js")
    script(type="text/javascript",src="index.js")
  body(ng-app, ng-controller="mainCtrl")
    .navbar.navbar-inverse.navbar-fixed-top
      .ib
        .navbar-header
          a.navbar-brand(href="#") G0VIS
        ul.nav.navbar-nav
          li(ng-repeat="n in tabs",ng-class="tabClass(n[0])"): a(href="#",ng-click="setTab(n[0])") {{n[1]}}
        ul.nav.navbar-nav.navbar-right
          li: a(href="#")
            i.glyphicon.glyphicon-check
            |  沒有人
          li.dropdown
            a.dropdown-toggle(href="#",data-toggle="dropdown"): i.glyphicon.glyphicon-cog
            ul.dropdown-menu
              li: a(href="#")
                i.glyphicon.glyphicon-cog(style="float:right")
                | 沒有人的設定
              li.divider
              li: a(href="#")
                i.glyphicon.glyphicon-log-out(style="float:right")
                | 沒有人要登出

    #content
      #about(ng-show="tab=='about'")
      #timeline(ng-show="tab=='timeline'")
        //iframe(src="http://embed.verite.co/timeline/?source=0AuVVq3srA7dPdFQtc3VQOUg0U1FZaVRYX09VeUMyU2c&font=Bevan-PotanoSans&maptype=toner&lang=zh-tw&height=650",width="100%",height="650",frameborder="0")
      #project(ng-show="tab=='project'")
      include irc.jade
