#project(ng-show="tab=='project'",ng-controller="prjCtrl")
  .list
    h1 
      img(src="img/g0v.png")
      | 促成的專案有哪些？
    a(ng-repeat="p in projects",href="{{p.homepage}}")
      .item
        
        .snapshot(ng-attr-style="background-image:url(img/{{p.img}})")
        .desc
          h3 {{p.name}}
