#project(ng-show="tab=='project'",ng-controller="prjCtrl")
  .list
    h1 g0v 促成的專案有哪些？
    a(href="http://{{p.homepage}}#")
      .item(ng-repeat="p in projects")
        .snapshot(ng-attr-style="background-image:url(img/{{nameToUrl(p.name)}}.jpg)")
        .name {{p.name_zh || p.name}}
