#project(ng-show="tab=='project'",ng-controller="prjCtrl")
  .next(ng-click="setPanel(1)")
  .prev(ng-click="setPanel(-1)")
  .list(ng-show="panel==0"): .ib
    h1 
      img(src="img/g0v.png")
      | 促成的專案有哪些？
    a(ng-repeat="p in projects",href="{{p.homepage}}")
      .item
        
        .snapshot(ng-attr-style="background-image:url(img/{{p.img}})")
        .desc
          h3 {{p.name}}
  .detail(ng-show="panel==1"): .ib(ng-controller="prjDetailCtrl")
    h1 各專案的活躍程度？
    h4 透過 google 搜尋 github.com 列出以有設置 g0v.json 為主的專案
    hr
    .isotope
      .item(ng-repeat="p in projects") 
	.name {{p.name}}
	h4 {{p.contributors.length}} 位主要開發者
	.contributors
	  .contributor(ng-repeat="m in p.contributors") 
	    img(src="img/man.svg",ng-attr-style="width:{{m.total + 10}}px;max-width:100%")
	    .user {{m.user}}
	h4 各方貢獻的總數
	.commits
	  .commit(ng-repeat="i in range(1,p.commits)"): img(src="img/hammer.svg")
    hr
    .about
      | SVG Icons Attribute to following designers:
      blockquote
        a(href="http://thenounproject.com/term/man/13731/") "MAN" by Nina Machado
        br
        a(href="http://thenounproject.com/term/man/1306/") "Hammer" by John Caserta
