#project(ng-show="tab=='project'",ng-controller="prjCtrl")
  .next(ng-click="setPanel(1)")
  .prev(ng-click="setPanel(-1)")
  .list(ng-show="panel==0"): .ib
    h1 
      img(src="img/g0v.png")
      | 促成的專案有哪些？
    a(ng-repeat="p in projects",href="{{p.homepage}}")
      .item
        
        .snapshot(ng-attr-style="background-image:url(img/{{p.img}})")
        .desc
          h3 {{p.name}}
  .detail(ng-show="panel==1"): .ib(ng-controller="prjDetailCtrl")
    | test
